* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #cbcaca;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background: rgb(206, 206, 206);
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}


